@charset "UTF-8";

/*RESET*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a{text-decoration: none;}
ul{list-style: none;}


/*MENU*/
header{
    background-color: #FA5858;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

#logo{
    height: 50px;
    margin-top: 25px;
    margin-left: 50px;
}

#menu ul{
    float: right;
    margin-right: 35px;
}

#menu ul li{
    float: left;
    padding: 0 15px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

#menu ul li:hover{
    background-color: #FE2E2E;
}

#menu-bars{
    display: none;
}

/*Pesquisar Pokemon*/
main{
    width: 100%;
    float: left;
    padding: 50px 0;
    background-color: rgb(240, 240, 243);
}

main #form{
    width: 70%;
    margin: auto;
    text-align: center;
}

main #form input[type="text"]{
    width: 70%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 2px solid #FA5858;
    border-radius: 5px;
    font-size: 100%;
}

main #form input[type="submit"]{
    width: 18%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
    transition: .5s;
    background-color: #FA5858;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #FA5858;
}

main #form input[type="submit"]:hover{
    background-color: #fff;
    color: #FA5858;
}

/*Pokemons em Infinite Scroll*/

.panel{
    width: 100%;
    padding: 50px 1%;
    margin: auto;
    margin-top: 50px;
}

.pokemon_card{
    position: relative;
    background: #fff;
    width: 18.6%;
    height: auto;
    margin-left: 1%;
    margin-bottom: 1%;
    display:inline-block;
    text-align: center;
    border-radius: 10px;
}

.img_card{
    width: 100%;
    text-align: center;
    background-color:rgb(222, 222, 241);
    border-radius: 10px 10px 0 0;
}

.img_card img{
    width: 60%;
    height: 200px;
}

.pokemon_id{
    font-size: 10pt;
    color:#FA5858;
    font-weight: bolder;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.pokemon_name{
    margin: 20% 0;
    font-size: 25pt;
    font-weight: bold;
}

.pokemon_attributes{
    width: 100%;
    height: 55px;
}

.attribute{
    width: 33.3%;
    height: 100%;
    margin: -2px;
    padding: 2% 0;
    color: #fff;
    background: #FA5858;
    display: inline-block;
    font-weight: bold;
    border-right: 3px solid #a83b3b;
}

.attribute:nth-child(1){
    border-radius: 0 0 0 10px;
}

.attribute:nth-child(3){
    border-right:none;
    border-radius: 0 0 10px 0;
}


/* Responsividade 1024px */
@media screen and (max-width:1024px){
    #menu ul{
        display: block;
    }
}


/* Responsividade 786px */
@media screen and (max-width:786px){

    html, body{
        overflow-x: hidden;
    }

    /* MENU */
    #menu{
        width: 100%;
    }

    #menu-bars{
        display: block;
        float: right;
        color: #fff;
        font-size: 3em;
        line-height: 100px;
        margin-right: 40px;
        cursor: pointer;
    }

    #logo{
        height: 50px;
        margin-top: 25px;
        margin-left: 40px;
    }

    #menu ul{
        position: relative;
        width: 100%;
        top: -20px;
        display: none;
        margin: 0 auto;
        margin-bottom: -15px;
        text-align: center;
    }
    
    #menu ul li{
        float: none;
        color: #fff;
        background: #FA5858;
        border-top: 2px solid #fff;
        font-size: 1.5em;
        cursor: pointer;
        height: 3em;
        line-height: 3em;
    }

    /* CAMPO DE BUSCA */
    main #form{
        width: 80%;
    }

    main #form input[type="text"]{
        width: 100%;
        height: 4em;
    }
    
    main #form input[type="submit"]{
        width: 100%;
        height: 4em;
        margin-top: 10px;
    }

    /* PANEL DE POKEMONS */
    
    .pokemon_card{
        width: 30.3%;
        margin-left: 2%;
        margin-bottom: 1%;
    }

}


/* Responsividade 425px */
@media screen and (max-width:425px){
    html, body{
        overflow-x: hidden;
    }

    /* CAMPO DE BUSCA */
    main #form{
        width: 100%;
    }

    /* PANEL DE POKEMONS */
    .pokemon_card{
        width: 98%;
        margin-left: 1%;
        margin-bottom: 4%;
    }

}